/*
Orange #FFA500
Light Orange #FFA400
*/

body {
  font-family: 'Noto Sans', sans-serif;
  color: #111111;
}

.root {
  text-align: center;
}

ul {
  list-style: none;
}

.App {
  text-align: center;
}

/* Global */
header,
section {
  text-align: center;
  padding: 30px 15px;
  width: 100%;
  height: auto;
}
/* Global */
